<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Show Data (Filter Page)</title>
</head>
<body>
  <form method="get" action="/searchenquiry">
      <label for="enquiryid">Enter Enquiry Id</label>
      <input type="text" name="enquiryid" id="enquiryid">
      <label for="name">Enter Name</label>
    <input type="text" name="name" id="name">
    <label for="status">Enter Name</label>
    <input type="text" name="status" id="status">
    <input type="submit">
  </form>
</body>
</html>